<a href="#" class="add-new-phase-link">Add New</a>
<div class="phase-management-container">
  <div class="phase-list-container">
   <ul class="phase-list"></ul>
  </div>
   
  <div class="phase-editor">
  
  </div>
</div>