<label for="phase_name_field">Name:</label><input id="phase_name_field" name="name" value="<%= phase.name %>"></input><br />
<label for="phase_dueDate_field">Due Date:</label><input id="phase_dueDate_field" name="dueDate" value="<%= phase.dueDate %>"></input><br />
<a href="#" class="save-link">Save</a>