.application-top-level {
}

.horizontal-container>div, .horizontal-container>ul {
  vertical-align: top;
  display: inline-block;
}

.application-top-level>div {
  vertical-align: top;
  display: inline-block;
}

.attempt-selector {
  width: 225px;
  margin: 5px;
}

.attempt-display {
  margin: 5px;
}

.attempt-details {
  float: right;
  width: 20em;
}

span.label {
  display: inline-block;
  width: 8em;
}

.execution-displays>div {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: 0;
  padding: 0;
}

.record-incorrect {
  border: 1px solid red;
}