<html>
  <head>
    <title>Show Execution Module</title>
  </head>
  
  <body>
    <h2>Show Execution Module</h2>
    
    <div>
      <ul>
        <li>Filename: <%= executionModule.filename %></li>
      </ul>
    </div>
  </body>
</html>