<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>CpS 310: Simulator Backend</title>
    
    <script src="/io/socket.io.js"></script>
    <script src="/js/prototype.js"></script>
    <script src="/js/ejs_production.js"></script>
    <script src="/js/simulator.js"></script>
    
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    
    <script>
      document.observe("dom:loaded", function() {
        applicationInstance = new Sim.UI.StudentApplicationController($('application_container'));
      });
    </script>
    
  </head>
  <body id="index" onload="">
    <h2>CpS 310: Simulator Backend</h2>
    <div id="application_container">
    </div>
  </body>
  
</html>