<html>
  <head>
    <title>New User</title>
  </head>
  
  <body>
    <h2>New User</h2>
    
    <div>
      <form action="new" method="post">
        Username: <input type="text" name="username" />
        <input type="submit" value="Register" />
      </form>
    </div>
  </body>
</html>