<html>
  <head>
    <title>Show User</title>
  </head>
  
  <body>
    <h2>Show User</h2>
    
    <div>
      <ul>
        <li>Username: <%= user.username %></li>
        <li>Token: <%= user.token %></li>
      </ul>
    </div>
  </body>
</html>