<h4>Execution Attempt for: <%= attempt.filename %> (<%= attempt._id %>)<h4>
<a href="#" class="live-feed-control-link"></a> <a href="#" class="previous-instruction-link">&#x2190;</a><a href="#" class="next-instruction-link">&#x2192;</a>