<h4>Execution Attempt for: <%= attempt.filename %> (<%= attempt._id %>)</h4>
<a href="#" class="live-feed-control-link"></a> <a href="#" class="previous-instruction-link">&#x2190;</a><a href="#" class="next-instruction-link">&#x2192;</a>

<div class="horizontal-container">
  
  <div class="attempt-details">
    <ul>
      <li><span class="label">Total Record Count:</span> <span class="attempt-count-recordCount"></span></li>
      <li><span class="label">Correct Record Count:</span> <span class="attempt-count-correctCount"></span></li>
      <li><span class="label">Incorrect Record Count:</span> <span class="attempt-count-incorrectCount"></span></li>
    
      <li>
        <span>Errors by Type:</span>
        <ul>
          <li><span class="label">Registers:</span> <span class="attempt-error-registers"></span></li>
          <li><span class="label">Flags:</span> <span class="attempt-error-flags"></span></li>
          <li><span class="label">Memory change addresses:</span> <span class="attempt-error-memoryChangeAddresses"></span></li>
          <li><span class="label">Memory change values:</span> <span class="attempt-error-memoryChangeValues"></span></li>
          <li><span class="label">Operand types:</span> <span class="attempt-error-operandTypes"></span></li>
          <li><span class="label">Operand strings:</span> <span class="attempt-error-operandStrings"></span></li>
          <li><span class="label">Addressing modes:</span> <span class="attempt-error-instructionAddressingMode"></span></li>
          <li><span class="label">Instruction segment:</span> <span class="attempt-error-instructionSegment"></span></li>
          <li><span class="label">Instruction offset:</span> <span class="attempt-error-instructionOffset"></span></li>
          <li><span class="label">Instruction mnemonic:</span> <span class="attempt-error-instructionMnemonic"></span></li>
          <li><span class="label">Raw instruction bytes:</span> <span class="attempt-error-rawBytes"></span></li>
        </ul>
      </li>
    </ul>
  
  </div>
  
  <div class="execution-display-container">
    
  </div>
  
</div>