<div class="login">
  
</div>

<div class="submission-management">
 <a href="#" style="display: none;" class="manage-phase-submissions-link">Manage phase submissions</a>
 
</div>

<a href="#" style="display: none;" class="refresh-attempt-list-link">Refresh attempts</a>
<div class="application-top-level">
  <div class="attempt-selector">
   
  </div>
   
  <div class="attempt-display">
  
  </div>
</div>