<h2>Application Home</h2>

<div class="login">
  
</div>

<a href="#" style="display: none;" class="refresh-attempt-list-link">Refresh attempts</a>

<div class="application-top-level">
  <div class="attempt-selector">
   
  </div>
   
  <div class="attempt-display">
  
  </div>
</div>