<h3>Phase Submission Management</h3>
<div class="horizontal-container">
  <div class="phase-list-container">
    <p>Phases:</p>
    <ul class="phase-list">
      
    </ul>
  </div>
  <div class="phase-submission-editor">
    
  </div>
</div>